@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

img#ton {
    position: absolute;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

body {
    font-family: 'Ubuntu';
}